@mixin image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-avatar {
    @include image;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;

}

.img-frame {
    @include image;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;

}

.img-logo {
    @include image;
}