@import "../utilities/variables";

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media (min-width:$media-minimum-width) {
        padding: 10px 30px;

        +.btn {
            margin-left: 10px;
        }
    }

    &:hover {
        background-color: $primary-color;
    }

    &.default {
        background-color: $link-color;
    }

    &.error {
        background-color: $error-btn-color;
    }

    &.info {
        background-color: $info-btn-color;
    }

    &.success {
        background-color: $success-btn-color;
    }

    &.warning {
        background-color: $warning-btn-color;
    }
}