@import "../utilities/variables";



.container {
    padding: 0 10px;

    @media (min-width: 768px) {
        max-width: 1400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;

    @media (min-width:768px) {

        flex-direction: row;

    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;

    @media (min-width:768px) {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;

        +[class^=col] {
            margin-left: 10px;
        }
    }
}


.theme {
    @for $i from 1 through 12 {
        &.col-#{$i} {
            background-color: nth($theme-colors, $i);

            @media (min-wdith: 768px) {
                flex-basis: $i * 8.33%;
            }
        }
    }
}


.card {
    flex-basis: 100%;
}