@import "../utilities/variables";
@import "../utilities/mixins";


.container {
    padding: 0 10px;

    @media (min-width: $media-minimum-width) {
        max-width: 1400px;
        @include center;
    }
}

.centered {
    @media (min-width: $media-minimum-width) {
        @include center;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;

    @media (min-width:$media-minimum-width) {

        flex-direction: row;

    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;

    @media (min-width: $media-minimum-width) {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;

        +[class^=col] {
            margin-left: 10px;
        }
    }
}


.theme {
    @for $i from 1 through 12 {
        &.col-#{$i} {
            background-color: nth($theme-colors, $i);
        }
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        @media (min-width: $media-minimum-width) {
            flex-basis: $i * 8.33%;
        }
    }
}


.card {
    flex-basis: 100%;
}